# MTA Server executables (windows)
*.exe
*.dll

# Directories
dumps
mods/deathmatch/logs
mods/deathmatch/resource-cache
mods/deathmatch/backups/

# Files to ignore
server-id.keys
banlist.xml
editor.conf
editor_acl.xml
local.conf
vehiclecolors.conf
internal.db
registry.db
stats.db